# This is an example .env file for the compliance check application.
# Copy this file to .env and update the values as needed.

# The environment in which the application is running. Possible values: 'docker', 'local'
# docker: The application is running inside a Docker container.
# local: The application is running on a local machine without Nginx, exposed to local model.
ENVIRONMENT=

# The model to use for compliance checking. Value used during tool testing:'llama3.2:3b'.
OLLAMA_MODEL=

# The URL of the Ollama API. Value used during tool testing: 'http://localhost:11434/api/generate' for local environment. For docker, use port '11435'.
OLLAMA_API_URL=http://localhost:11435/api/generate

# Username and password for basic authentication via HTTP.
OLLAMA_USER=
OLLAMA_PASSWORD=

# The host to use for Ollama API. Value used during tool testing: 'localhost' for local environment.
OLLAMA_HOST=
